body {
    font-family: 'Proxima Nova Rg';
    background-color: #f9f7f7;
    color: #112d4e;
}

h1, h2, h3, h4 {
    font-family: 'Circular Std Black';
    color: #0d6efd;
}

h5 {
    font-family: 'Circular Std';
}

.heading {
    font-family: 'Circular Std Black';
    /* font-weight: bold; */
}

.heading-2 {
    font-family: 'Circular Std';
    color: #364f6b;
}

.img-profile {
    filter: grayscale(10);
}

.mt-6 {
    margin-top: 7rem !important;
}

.social:hover {
    color: #0d6efd !important;
}

.bg-about {
    background-color: #dbe2ef;
}

.nav-link {
    font-family: 'Circular Std';
    color: #3f72af;
}

.dark-mode-btn:hover {
    color: black !important;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode-about {
    background-color: #bbe1fa;
    color: black;
}

.dark-mode-accomplishments > h5 {
    color: #bbe1fa;
}

.btn-dark-mode {
    color: #f2a365 !important;
}

.btn-dark-mode:hover {
    color: white !important;
}